/* login form css */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* login form css finish */

/* .outer-div{
    background-color: #667bc6;
}
.card{
    background-color: #ffb4c2da;
}
#button{
    background-color: #fdffd2;
    color: black;
    border: none;
} */
